@model IEnumerable<TPCN.Models.LOAISP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENLOAI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUYENMUC.TENCM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENLOAI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUYENMUC.TENCM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MALOAI }) |
            @Html.ActionLink("Details", "Details", new { id=item.MALOAI }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MALOAI })
        </td>
    </tr>
}

</table>
